.darkveil-canvas {
  width: 100%;
  height: 1000px;
  display: flex;
  position: absolute;
  background-color: #da7171;
}

#hah {
  height: 150px;
  width: 300px;
  color: white;

  position: relative;
  z-index: 1;
  top: 80px;

}

.magic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


}


.about-container {
  /* max-width: 1165px; */
  margin: 40px auto;
  padding: 20px;
  /* height: 600px; */
  position: relative;
  top: 160px;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  margin-bottom: 220px;
  /* border: 2px solid white; */
  /* overflow-x: hidden; */
}

.about-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffffff;
}

.about-container h3 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ffffff;
}

.about-container p {
  margin-bottom: 15px;
}

.founder-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.founder-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.click-here {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.click-here:hover {
  text-decoration: underline;
}

.employee-pics {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.emp-cont {

  width: 70%;
  position: relative;
  left: 15%;
  padding: 10px;
}

.emp-img {
  height: 200px;
}

#hehe12 {
  font-size: 120px;
  margin-right: 20px;

}

#hehe13 {
  font-size: 110px;
  margin-left: 20px;

}

#hehe14 {
  font-size: 120px;
  margin-right: 20px;

}

#hehe15 {
  font-size: 110px;
  margin-left: 20px;

}

.emp-grid1 {

  border-radius: 18px;
  display: flex;
  width: 100%;
  position: relative;

  /* padding: 10px; */
  margin-bottom: 10px;
  /* left: 20px; */
}

.emp-grid2 {

  display: flex;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  /* padding: 10px; */
  /* left: 600px; */
}

.emp-grid3 {
  border-radius: 18px;
  display: flex;
  width: 100%;
  position: relative;

  /* padding: 10px; */
  margin-bottom: 10px;
  /* left: 20px; */
}

.emp-grid4 {

  display: flex;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  /* padding: 10px; */
  /* left: 600px; */
}

.emp-right {
  text-align: center;
  align-content: center;
  gap: 0px;

  margin-right: 80px;

}

.emp-right h2 {
  position: relative;
  top: -50px;
  font-size: 40px;
}

.emp-left1 {
  text-align: center;
  align-content: center;
  gap: 0px;
  /* border: 1px solid wheat; */

}

.emp-right p {
  font-size: 15px;
}