.razorpay-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Razorpay injects a button inside the form.
   We style that injected button here. */
#razorpay-form button {
  background: linear-gradient(135deg, #4a90e2, #0072ff);
  color: #fff !important;
  padding: 14px 28px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  letter-spacing: 0.5px;
  transition: 0.25s ease-in-out;
  /* box-shadow: 0 4px 12px rgba(0, 114, 255, 0.3); */
}

/* #razorpay-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 114, 255, 0.4);
} */

#razorpay-form button:active {
  transform: scale(0.97);
}
