.tender3-wrapper3 {
    position: relative;
    top: 80px;

    color: #fff;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
}

.tender5-services5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.1);
}

.tender2-card2 {
    flex: 1 1 200px;
    max-width: 250px;
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 12px;
    transition: transform 0.3s ease;

}

.tender2-card2:hover {
    transform: translateY(-5px);
    background-color: #222;
    
}

.icon5 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}

.tender2-card2 h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.tender2-card2 p {
    font-size: 0.95rem;
    color: #ccc;
}

.tender2-description2 {
    margin-top: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    color: #ddd;
    font-size: 1rem;
}



.subscribe-wrapperr {
  background-color: #000;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.subscribe-titlee {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.subscribe-gridd {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.subscribe-cardd {
  background-color: #111;
  border: 1px solid #2a2a2a;
  padding: 25px 20px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  color: #ddd;
}

.subscribe-cardd:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  background-color: #1a1a1a;
}

.subscribe-iconn {
  font-size: 24px;
  color: orange;
  margin-bottom: 15px;
}



















@media (max-width: 768px) {
    .tender2-card2 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .tender5-services5 {
        padding: 20px 10px;
    }

    .tender2-description2 {
        padding: 0 10px;
        font-size: 0.95rem;
    }
}