#contact {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    top: 70px;


}

.leftcontact {
    width: 50%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftcontact img {
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    filter: drop-shadow(3px 3px 10px rgb(87, 196, 210));
}

.rightcontact {
    width: 60%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: 70%;
    width: 80%;
    background-color: rgb(19, 25, 29);
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;

}

form:hover {
    box-shadow: 2px 2px 10px rgb(105, 208, 215), 2px 2px 20px rgb(105, 208, 215);
}

form input {
    width: 80%;
    height: 50px;
    border: 2px solid rgb(105, 208, 215);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(105, 208, 215);
    ;
    color: black;
    font-size: 20px;
    outline: none;
}

#textaera {
    width: 80%;
    height: 200px;
    border: 2px solid rgb(87, 196, 210);
    border-radius: 20px;
    padding: 20px;
    outline: none;
    font-size: 20px;
}

#btn {
    width: 200px;
    height: 50px;
    background-color: rgb(87, 196, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 20px;
    transition: all 0.3s;
}

#btn:hover {
    background: transparent;
    color: rgb(105, 208, 215);
    cursor: pointer;
}


@media (max-width: 750px) {
    #contact {
        flex-direction: column;
    }

    .leftcontact,
    .rightcontact {
        width: 100%;

    }

    .leftcontact img {
        width: 78%;
        height: 60vh;
    }

    form {
        width: 90%;
        height: 55%;
    }

    form input,
    #textaera {
        width: 90%;
    }

}