.card1{
    width: 90%;
    max-width: 380px;
    height: 180px;
    background-color: rgb(20,26,31);
    position: relative;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px  10px black, 2px 2px 10px black;
    border-radius:  10px;
    transition: all 0.5s ease-in-out;
   
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;
}
.card1:hover{
    box-shadow: 2px 2px 10px rgb(87, 195, 219), 2px 2px 10px rgb(82, 205, 207);
    

}
.hovercard img{
    height:  80% ;
    filter: drop-shadow(2px 2px 10px black);
}
.hovercard{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(121,205,220,0.486),rgba(12,17,20,0.495) );
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
    

}
.card1:hover .hovercard{
    transform: translateY(0%);
    transition: all 0.5s;
    
} 
.card1 h1{
   background: linear-gradient(to right, rgb(57, 177, 204), white);
    background-clip: text;
    color: transparent;
}




