.footer {
  background-color: #0c1117;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-column {
  flex: 1 1 300px;
}

.footer-column h3, .footer-column h2 {
  color: white;
  margin-bottom: 10px;
}

.footer-column p, .footer-column li, .footer-column a {
  color: #ccc;
  font-size: 14px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 5px 0;
}

.footer-column a {
  text-decoration: none;
  color: #ff0080;
}

.footer-column a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
   background-color: transparent;
    color: rgb(66, 180, 205);
   filter: drop-shadow(2px 2px 20px rgb(55, 194, 232));

}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 30px;
  font-size: 13px;
  color: #999;
}
#uicon{
    height: 100px;
    width: 100px;
    gap: 20px;
 
}

@media (max-width:750px) {
  #uicon{
    height:50px;
    width: 100px;
    gap: 10px;
    align-items: center;    
  }  
}