.tendersk-containerk {
  background-color: #000;
  color: #fff;
  padding: 20px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 150px;
  margin-top: 150px;
}

h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
  align-content: center;
  display: flex;
  justify-content: center;
}

.cardk-gridk {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
 
}

.tenderk-cardk {
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tenderk-cardk img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.tenderk-cardk h3 {
  font-size: 0.85rem;
  margin: 10px 0 5px;
}

.tenderk-cardk p {
  font-size: 0.9rem;
  color: #bbb;
}

.tenderk-cardk button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.tenderk-cardk button:hover {
  background: #fff;
  color: #000;
}

.tenderk-cardk:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
