.cont90  {
 
    position: relative;
    top: 190px;
    
}

.content1{
    /* border: 2px solid white; */
    width: 90%;
    position: relative;
    left: 70px;
    text-align: justify;
}

.zenitsu{
    /* border: 2px solid white; */
    width: 80%;
    position: relative;
    left: 140px;
    top: 30px;
    text-align: justify;
    height: auto;
}

.tengen{
    /* border: 2px solid white; */
    width: 79%;
    position: relative;
    left: 150px;
    top: 40px;
    text-align: justify;
    height: auto;
    margin-bottom: 150px;
}

.mohito{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    top: 90px;
}